allow surfaceflinger ump_device:chr_file { open read write ioctl };
#============= surfaceflinger ==============
allow surfaceflinger kernel:system module_request;

#============= surfaceflinger ==============
#allow surfaceflinger device:chr_file { ioctl read write };
